
:root{
  --primaryColor:  #23BE0A  ;
  --primaryContent: #f4fcf2 ;
  --secondaryColor:  #50B1C9  ;
  --blueMeno:  #328EFF  ;
  --blueMenoContent:  #e0eeff  ;
  --primaryYellow:  #FFAC33  ;
  --primaryYellowContent:  #fff3e0  ;
  --indigoBlue:  #0085F6  ;
  --accentTeal:  #00C29C  ;
  --accentYellow:  #FBB929  ;
  --accentOrange:  #FC8042  ;
  --accentRed:  #FB0100  ;


}

